<form name="myForm" role="form">
  <div class="form-group" ng-class="{error: myForm.name.$invalid && !myForm.name.$pristine}">
    <label for="inputFName">Your Name</label>
    <input id="inputFName" class="form-control" type="text" name="name" placeholder="Enter Name" ng-model="item.name" required>
    <span ng-show="myForm.name.$error.required && !myForm.name.$pristine" class="help-inline">Required {{myForm.name.$pristine}}</span>
  </div>

  <div class="form-group">
	<label for="inputDesc">Potluck Contribution</label>
	<textarea id="inputDesc" class="form-control" name="description" ng-model="item.description" rows="3" placeholder="Enter Description" required></textarea>
  </div>

  <div class="form-group" ng-class="{error: myForm.guest_count.$invalid && !myForm.guest_count.$pristine}">
    <label for="inputGuestCount"># Additional Guests</label>
    <input id="inputGuestCount" class="form-control" type="text" name="guest_count" placeholder="Enter Count..." ng-model="item.guestCount" required>
    <span ng-show="myForm.guest_count.$error.required && !myForm.guest_count.$pristine" class="help-inline">Required {{myForm.guest_count.$pristine}}</span>
  </div>

  <div class="form-group">
	<a href="#/" class="btn">Cancel</a>
	<button ng-click="save()" ng-disabled="myForm.$invalid"
            class="btn btn-primary">Save</button>
	<button ng-click="destroy()"
			ng-show="item.$remove" class="btn btn-danger">Delete</button>
	</div>
</form>
