<p>
   <a href="#/new" class="btn btn-default btn-primary">
      <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Link to New
   </a>
</p>

<div class="list-group" ng-if="projects.length > 0">
   <a href="#/edit/{{project.$id}}" class="list-group-item" ng-repeat="project in projects | orderByPriority | orderBy:'title'">
      <a href="./projects/{{project.folder}}" class="list-group-item-heading"><span class="glyphicon glyphicon-folder-open"></span><h4>{{project.title}}</h4></a>
      <p class="list-group-item-text" style="white-space: pre-wrap;">{{project.description}}</p>
   </a>
</div>

<span>Collection size: {{projects.length}}</span>
